/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body, html {
    margin: 0;
}

:root[mode=ios], :root[mode=md] {
    --ion-font-family: "Roboto-Regular";
    font-family: "Roboto-Regular", "Times New Roman", serif;
}

.page-header {
    background: var(--theme-color);
    position: relative;
    border-radius: 0em;
    height: 96px;
}

.logo-img {
    display: block;
    max-height: 100%;
    margin: 0 auto;
    text-align: center;
}

[heading-column-lr] {
    margin-bottom: 30px;
}

h1 {
    font-family: "Roboto-Bold";
    font-size: 30px;
    color: var(--theme-black);
    margin-bottom: 0;
}

h2 {
    font-size: 20px;
    margin: 30px 0 0;
}

[linespace] {
    height: 30px;
}

ion-label {
    color: #000;
    opacity: 0.8;
    font-size: 13px;
    display: block;
}

ion-input {
    --color: #000;
    --padding-bottom: 15px;
    --padding-top: 15px;
    --padding-start: 5px;
    font-size: 15px;
    text-indent: 1px;
}

ion-item {
    --highlight-color-focused: transparent;
    --heightlight-height: 0;
    --highlight-color-valid: #ddd;
    --min-height: 65px;
    --padding-start: 0;
}

ion-button {
    margin-bottom: 10px;
}

ion-content {
    --background: #fafafa;
}

[transparent] {
    --background: transparent
}

a {
    color: var(--ion-color-secondary);
}

/* fonts */
@font-face {
    font-family: 'Roboto-Bold';
    src: url('assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('assets/fonts/Roboto-Regular.ttf');
}